button {
    border-radius: 5px !important;
    padding: 4px 8px;
    font-weight: 600 !important;
    font-size: 12px ;
}

.customButtonFormat {
    margin:10px 0;
    border: unset;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);

    p {
        font-size: 13px;
        padding: 5px;
    }
    h5 {
        margin-bottom: 0;
        font-weight: bold;
        padding: 5px;
    }
}
.customButtonFormat:hover {
    background-color: $light-5;
}
.customButtonsize100 {
    width: 100%;
}
.customButton {
    a {
        color: white;
        &:hover {
            color: white;
        }
    }    
}
.outlineButtonFormat {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    color: white;

    p {
        font-size: 13px;
        padding: 5px;
    }
    h5 {
        margin-bottom: 0;
        font-weight: bold;
        padding: 5px;
    }
}
.outlineButtonFormat:hover {
    background-color: white;
    color: black;
}

.buttonColorGray {
    background-color: $dark-6;
    color: white;
}
.buttonColorGray:hover {
    background-color: $dark-4;
    color: white;
}
.buttonColorRed {
    background-color: $red;
    color: white;
}
.buttonColorRed:hover {
    background-color: #d12a43;
    color: white;
}
.buttonColorBlue {
    background-color: $blue;
    color: white;
}
.buttonColorBlue:hover {
    background-color: $primary-dark;
    color: white;
}
// rate post button
.rateButton {
    width: fit-content;
    background-color: $green;
    color: white;
    margin-top: unset;

}
.rateButton:hover {
    background-color: $green-light-5;
}

.modal-close-button{
    width: 40px;
    height: 40px;
    background-color: $light-3 !important;
    border-radius: 50px !important;
}