button {
    border-radius: 5px !important;
    padding: 4px 8px !important;
    font-weight: 600 !important;
    font-size: 12px !important;
}

.modal-close-button{
    width: 40px;
    height: 40px;
    background-color: $light-3 !important;
    border-radius: 50px !important;
}