button {
    border-radius: 5px !important;
    padding: 4px 8px;
    font-weight: 600 !important;
    font-size: 12px !important;
}

.customButtonFormat {
    margin:10px 0;
    border: unset;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);

    p {
        font-size: 15px;
        padding: 5px;
    }
}
.customButtonFormat:hover {
    background-color: #dddddd;
}
.customButtonsize100 {
    width: 100%;
}
.customButton {
    a {
        color: white;
        &:hover {
            color: white;
        }
    }    
}
.buttonColorGray:hover {
    background-color: $dark-4;
    color: white;
}
.buttonColorGray {
    background-color: $dark-6;
    color: white;
}
.buttonColorRed {
    background-color: $red;
    color: white;
}
.buttonColorRed:hover {
    background-color: #d12a43;
    color: white;
}
.buttonColorBlue {
    background-color: $blue;
    color: white;
}
.buttonColorBlue:hover {
    background-color: $primary-dark;
    color: white;
}
// rate post button
.rateButton {
    width: fit-content;
    background-color: $green;
    color: white;
    margin-top: unset;

}

.modal-close-button{
    width: 40px;
    height: 40px;
    background-color: $light-3 !important;
    border-radius: 50px !important;
}