.nav-overrides {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    
    .navbar-collapse {
        justify-content: flex-end;
    }
}

.toast {
    font-size: inherit;
    position: fixed;
    bottom: 10px;
    left: 20px;
    width: 300px;

    .toast-header {
        background-color: $blue-grey-light-5;
        color: white;

        strong {
            font-weight: 600 !important;
        }
    }

    .toast-body {
        background-color: white;
        font-size: 13px;
        font-weight: 500;
    }
}