.createRecipe {
    width: 80%;
    min-width: 340px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    background-color: $bg;
}

h5 {
    margin-bottom: 20px;
    font-weight: 600 !important;
}

.imgUploadDiv {
    width: 100%;
    display: flex;
    padding: 2%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid $light-5;
    background-color: $light-4; 
    color: $dark-6;

    .uploadIcon {
        width: 100px;
        height: 100px;
    }
}

//input set 
.inputSetFormat {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .inputsubFormat1 {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    
        p {
            margin-top: 5px;
            margin-left: 5px;
        }
    }
    .inputSubFormat2 {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: wrap;
        
        .inputSubFormat2_1 {
            display: flex;
            flex-basis: 0;
            flex-grow: 1;
            min-width: 0;
            max-width: 100%;
        }
        
    }

    label {
        color: $dark-2;
        margin-bottom: 2px;
        font-size: 12px;
        font-weight: 600;
    }
    input {
        outline: none;
        display: flex;
        width: 100%;
        padding: 4px;
        background-color: $light-4;
        border: 1px solid $light-5;
        border-radius: 5px;
        &.err {
            border: 2px solid $red;
            background-color: $red-light-2;
        }
    }
    p {
        margin: 5px 0 0 5px;
    }
}

//button css
.actionButtonDiv {
    display: flex;
}


//ingredients part
.addOrDelbuttonDiv{
    display: flex;
    align-items: flex-end;
    max-width: 40px;
}
.customButtonFormat2 {
    width: 34px;
    height: 34px;
    margin:10px 0;
    border: unset;
}


.mr-10 {
    margin-right: 10px;
}

//ingredients
.ingInputFormat {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    label {
        color: $dark-2;
        margin-bottom: 5px;
        font-weight: 600;
    }
    input, select {
        display: block;
        width: 100%;
        padding: 4px;
        margin-bottom: 10px;
        background-color: $light-4;
        border: 1px solid $light-5;
        border-radius: 5px;
    }
    p {
        margin: 5px 10px 0 5px;
    }
}
//procedure inputs
.procInputFormat {
    width: 100%;
    display: flex;
    margin-bottom: 10px;

    input {
        display: flex;
        width: 100%;
        padding: 4px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: $light-4;
        border: 1px solid $light-5;
        border-radius: 5px;
    }
    p {
        display: flex;
        align-items: center;
        width: 35px;
        font-size: 23px;
    }
}

//checkbox
.inputSetFormat2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    input {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    label {
        display: flex;
        align-items: center;
    }
}

//nutrition
.titleaAndSub {
    display: flex;
    flex-direction: row;
    h4 {
        font-size: 20px;
    }
    p {
        display: flex;
        align-items: center;
        margin-left: 10px;
        color: $light-8;
        font-weight: 600;
    }
}
.nutInputFormat {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 4vw;
    margin-bottom: 10px;

    .nutInputsubFormat1 {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }

    input, select {
        display: flex;
        width: 130px;
        min-width: 80px;
        padding: 4px;
        background-color: $light-4;
        border: 1px solid $light-5;
        border-radius: 5px;
    }
    select {
        width: 80px;
        min-width: 50px;
    }
    p {
        display: flex;
        align-items: center;

    }
}

//Action Buttons 

