//scrollbar 
::-webkit-scrollbar{
    height:6px;
    width:6px;
    border-radius: 4px;
    background: transparent;
    transition: all 0.3s ease;
    transition: all .35s ease-in-out;
    cursor: pointer;
}

::-webkit-scrollbar:hover{
    background: #c6c7ca;
    transition: all .35s ease-in-out;
}

::-webkit-scrollbar-thumb{
    background:#b4afaf;
    border-radius: 4px;
    transition: all .35s ease-in-out;
}

.mainHomeDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

//universal tags css
.pHolder { //for input
    margin-top:10px;
    background-color: $light-4;
    color: $dark-6;
}

.tag {
    display: inline-block;
    border-radius: 3px;
    padding: 1px 3px;
    margin: 5px 5px 5px 0;
    font-size: 11px;
    font-weight: 600;
    background-color: white;
}
.activeTag {
    background-color: red !important;
    color: white !important;
}

//universal rating css
.star {
    height: 20px;
    width: 20px;

    margin-right: 1px; 
}
.false {
    color: #D6D6D6;
}
.true {
    color: #E4D400;
}

.customButton {
    width: 100%;
}

.left, .right {
    position: fixed;
    z-index: 1;
}

.left {
    left: 0;
    width: 20%;
    height: 100vh;
    display: block;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 3px 5px 6px rgba($color: #8fafe2, $alpha: 0.1);
    h4 {
        font-weight: 700 !important;
    }
    h5 {
        margin-bottom: 5px;
    }
    .filterDiv {
        margin-top: 10px;
        width: 100%;
        height: 75vh;
        overflow: auto;
    }
    //searchinput
    .searchInput {
        font-size: 14px;
        background-color:$light-4;
        color: $dark-6;
    }
    .searchButton {
        height: 100%;
        background-color: #094070;
        border-radius: 0 5px 5px 0 !important;
    }
    
    //divs in search filter
    .tagsFiltDiv, .serveFiltDiv, .ratingFiltDiv {
        margin-bottom: 15px;
    }
    //tags filter
    .tagFilter {
        padding-left: 0;

    }
    .customTag{
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        
    }
    .customPHolder {
        font-size: 13px;
    }
    //serving size filter
    .serveOp {
        display: inline-block;
        background-color: #b3b3b3;
        color: black;
        margin: 3px 5px;
        border: 1px solid #808080;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    }
    .serveOp:first-child {
        margin-left: 0;
    }
    .activeServeOp {
        background-color: #414141;
        color: white;
    }
    //rating filter
    .radio {
        height: 18px;
        width: 18px;
        vertical-align: middle;

    }
    .starfilt {
        height: 30px;
        width: 30px;
    }
    .rateLabel {
        font-size: 1.5vh;
        color: #707070;
    }

}

.middle {
    width: 100%;
    padding: 5px 20%;
    margin: 0 10px;
    flex-direction: row;
    justify-content: center;
    
    .perCard {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .customCardBody {
        padding: 13px;
    }
    .title {
        font-weight: bold;
        margin-bottom: 5px;
    }
    .userName {
        color: #707070;
        font-size: 13px;
    }
    .rating {
        display: flex;

        p {
            color: #686868;
        }
    }
    .tagDiv {
        display: flex;
        align-items: left;
    }
    .buttonDiv {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;

        .customButton {
            color: white;
            width: 70%;
            padding: 2px 5px;
        }
        .custom-secondary {
            background-color: #3b3b3b;
            margin-left: 5px;
        }
    }

    .empty-center-display {
        width: 100%;
        margin: 20% 0;
        text-align: center;
        justify-content: center;
        svg {
            color: rgb(156, 156, 156);
            height: 100px;
            width: 100px;
        }
        p {
            margin-top: 10px;
            font-size: 15px;
            font-weight: 700;
        }
    }
    
}

.right {
    right: 10px;
    width: 20%;
    height: 100vh;
    display: block;
    background-color: #ffffff;
    padding: 15px;

}