//scrollbar 
::-webkit-scrollbar{
    height:6px;
    width:6px;
    border-radius: 4px;
    background: transparent;
    transition: all 0.3s ease;
    transition: all .35s ease-in-out;
    cursor: pointer;
}

::-webkit-scrollbar:hover{
    background: #c6c7ca;
    transition: all .35s ease-in-out;
}

::-webkit-scrollbar-thumb{
    background:#b4afaf;
    border-radius: 4px;
    transition: all .35s ease-in-out;
}

.mainHomeDiv {
    display: flex;
    flex-direction: row;
    padding: 70px 10px 10px 10px;
}

.buttonGrp {
    display: block;
    margin-left: 3px;
}
//universal tags css
.tag {
    display: inline-block;
    border-radius: 3px;
    padding: 1px 3px;
    margin: 5px 5px 5px 0;
    font-size: 11px;
    font-weight: 600;
    background-color: white;
}
.activeTag {
    background-color: red !important;
}

//universal rating css
.star {
    height: 20px;
    width: 20px;

    margin-right: 1px; 
}
.false {
    color: #D6D6D6;
}
.true {
    color: #E4D400;
}


.left, .right {
    position: fixed;
    z-index: 1;
}

.left {
    width: 20%;
    height: 78vh;
    display: block;
    background-color: #ffffff;
    padding: 13px;
    

    .filterDiv {
        margin-top: 20px;
        width: 100%;
        height: 65vh;
        overflow: auto;
    }
    //searchinput
    .pholder2 {
        font-size: 14px;
        background-color: #D5D5D5;
    }
    .searchButton {
        height: 100%;
        background-color: #094070;
        border-radius: 0 5px 5px 0 !important;
    }
    
    //divs in search filter
    .tagsFiltDiv, .serveFiltDiv, .ratingFiltDiv {
        margin-bottom: 15px;
    }
    //tags filter
    .tagFilter {
        padding-left: 0;

    }
    .customTag{
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        
    }
    .pholder {
        margin-top: 5px;
        font-size: 12px;
        background-color: #D5D5D5;
    }
    //serving size filter
    .serveOp {
        display: inline-block;
        background-color: #b3b3b3;
        color: black;
        margin: 3px 5px;
        border: 1px solid #808080;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    }
    .serveOp:first-child {
        margin-left: 0;
    }
    .activeServeOp {
        background-color: #414141;
        color: white;
    }
    //rating filter
    .radio {
        height: 20px;
        width: 20px;
        vertical-align: middle;

    }
    .starfilt {
        height: 30px;
        width: 30px;
    }

}

.middle {
    width: 100%;
    padding: 10px 20%;
    flex-direction: row;
    justify-content: center;


    .perCard {
        margin-bottom: 15px;
    }
    .customCardBody {
        padding: 13px;
    }
    .title {
        font-weight: bold;
        margin-bottom: 5px;
    }
    .userName {
        color: #707070;
        font-size: 13px;
    }
    .rating {
        display: flex;

        p {
            color: #686868;
        }
    }
    .tagDiv {
        display: flex;
        align-items: left;
    }
    .buttonDiv {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;

        .customButton {
            width: 70%;
            padding: 2px 5px;
        }
        .custom-secondary {
            background-color: #3b3b3b;
            margin-left: 5px;
        }
        
    }
    
}

.right {
    right: 10px;
    width: 20%;
    height: 85vh;
    display: block;
    background-color: #ffffff;
    padding: 15px;
}