// colors
@import "common/colors";

//fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

//partials
@import './partials/variables.scss';
@import './partials/profile';
@import './partials/buttons';
@import './partials/modal';
@import './partials/typography';
@import "~bootstrap/scss/bootstrap";

// common
@import './common/Input.scss';

//LandingPage
@import './LandingPage.scss';

//Home
@import './Home_Page.scss';

// overrides
@import './partials/overrides';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: $bg-main;
}

.d-flex {
    display: flex;
    flex-grow: 1;
}

p {
    font-size: 15px;
    margin-bottom: 0;
}

.form-error {
    color: $red;
}
.form-success {
    color: $green;
}

a, button, div {
    outline: none !important;
}

.to-uppercase {
    text-transform: capitalize
}

// ! Footer is still not fixed at the bottom of the page. Please fix.

footer {
    // clear: both;
    width: 100%;
    // position: absolute;
    // bottom: 0;
    margin-top: 2em;
    padding: 3em 0;
    background-color: #23272a;

    .footer-primary {
        color: $text-light;

        a,
        a:hover {
            color: $text-light;
        }

        .footer-primary-item {
            margin-bottom: 2em;
        }

        .footer-logo {
            width: auto;
            height: 2.5em;
            margin-bottom: 1rem;
        }
    }

    .footer-secondary {
        color: $light-6;

        a,
        a:hover {
            color: $light-6;
        }

        padding-top: 1em;
        border-top: 1px solid $light-8;

        img {
            width: auto;
            height: 1.5em;
        }
    }
}
